<script lang="ts">
  import { page } from '$app/stores';
  import { refresh } from '$utils/stores';
  import { Theme } from '$utils/types';

  let isDark = true;

  function setTheme(theme: Theme) {
    document.documentElement.setAttribute('data-theme', theme);
    localStorage.setItem('theme', theme);
  }

  function toggleDarkMode(): void {
    isDark = document.documentElement.getAttribute('data-theme') === Theme.dark;
    setTheme(isDark ? Theme.light : Theme.dark)
  }

  if (typeof localStorage !== 'undefined') {
    isDark = localStorage.theme !== Theme.light
      || (!localStorage.theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
    setTheme(isDark ? Theme.dark : Theme.light);
  }
</script>

<nav class="navbar navbar-center bg-base-100 mb-5 rounded-xl shadow-md">
	<div class="navbar-start flex-1">
		<a class="btn btn-ghost normal-case text-xl" href="/ui">ResticGUI</a>
  </div>
	<div class="navbar-end">
    {#if $page.params.id}
      <button
        class="btn btn-ghost btn-circle"
        on:click|preventDefault|stopPropagation={refresh.update}
      >
        <svg width="17" height="17" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor"><path d="M12 2.181a.75.75 0 0 1 1.177-.616l4.432 3.068a.75.75 0 0 1 0 1.234l-4.432 3.068A.75.75 0 0 1 12 8.32V6a7 7 0 1 0 7 7 1 1 0 1 1 2 0 9 9 0 1 1-9-9V2.181z" /></svg>
      </button>
    {/if}
		<a class="btn btn-ghost btn-circle" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/resticgui/resticgui">
      <svg viewBox="0 0 25 24" height="24" width="25">
        <path class="transition-colors hover:fill-orange-300" fill="#E24329" d="m24.507 9.5-.034-.09L21.082.562a.896.896 0 0 0-1.694.091l-2.29 7.01H7.825L5.535.653a.898.898 0 0 0-1.694-.09L.451 9.411.416 9.5a6.297 6.297 0 0 0 2.09 7.278l.012.01.03.022 5.16 3.867 2.56 1.935 1.554 1.176a1.051 1.051 0 0 0 1.268 0l1.555-1.176 2.56-1.935 5.197-3.89.014-.01A6.297 6.297 0 0 0 24.507 9.5Z" />
        <path class="transition-colors hover:fill-orange-400" fill="#FC6D26" d="m24.507 9.5-.034-.09a11.44 11.44 0 0 0-4.56 2.051l-7.447 5.632 4.742 3.584 5.197-3.89.014-.01A6.297 6.297 0 0 0 24.507 9.5Z" />
        <path class="transition-colors hover:fill-orange-400" fill="#FC6D26" d="M5.01 11.461a11.43 11.43 0 0 0-4.56-2.05L.416 9.5a6.297 6.297 0 0 0 2.09 7.278l.012.01.03.022 5.16 3.867 4.745-3.584-7.444-5.632Z" />
        <path class="transition-colors hover:fill-orange-200" fill="#FCA326" d="m7.707 20.677 2.56 1.935 1.555 1.176a1.051 1.051 0 0 0 1.268 0l1.555-1.176 2.56-1.935-4.743-3.584-4.755 3.584Z" />
      </svg>
    </a>
    <label class="btn btn-ghost btn-circle swap swap-rotate">
      <input
        type="checkbox"
        on:change|preventDefault|stopPropagation={toggleDarkMode}
      >
			<svg class="swap-on fill-current"  width="25" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/>
      </svg>
      <svg class="swap-off fill-current" width="25" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/>
      </svg>
  </label>
	</div>
</nav>
