<script lang="ts">
  import { toasts } from '$utils/stores';
</script>

{#each $toasts as toast, i}
  {#if i === $toasts.length - 1}
    <div class="alert {toast.type === 'failure' ? 'alert-error' : 'alert-success'} mt-4">
      <div class="flex gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          {#if toast.type === 'failure'}
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
          {:else}
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          {/if}
        </svg>
        <span>{toast.value}</span>
      </div>
    </div>
  {/if}
{/each}
