<svg 
  viewBox="0 0 512 512"
	width="16"
	height="16"
	fill="currentColor"
>
  <path d="M362.49,368.753v55.89c0,7.225-0.973,14.285-2.818,21.141c41.641-1.185,80.227-10.856,109.43-27.543
  C506.427,396.913,512,374.2,512,362.56v-42.148C477.645,348.363,424.173,366.713,362.49,368.753z"/>
  <polygon points="512,320.411 512,320.412 512.001,320.411 			"/>
  <path d="M362.49,252.424v75.847c40.56-1.532,78.071-11.118,106.613-27.428c37.326-21.329,42.899-44.04,42.899-55.681v-12.064
  v-31.681C479.848,230.722,425.709,250.295,362.49,252.424z"/>
  <path d="M462.982,88.459c-26.903-14.797-62.244-23.523-100.493-24.989v148.477c38.249-1.466,73.589-10.193,100.493-24.989
  c25.394-13.966,39.957-31.917,39.957-49.25C502.939,120.376,488.376,102.426,462.982,88.459z"/>
  <path d="M161.029,427.129c-66.524,0-124.552-18.86-161.029-48.538v46.053c0,11.64,5.573,34.353,42.899,55.681
  c31.227,17.843,73.178,27.67,118.128,27.67c44.95,0,86.903-9.827,118.128-27.67c37.327-21.329,42.9-44.042,42.9-55.681v-46.053
  C285.581,408.269,227.553,427.129,161.029,427.129z"/>
  <path d="M161.029,309.731c-66.524,0-124.552-18.86-161.029-48.538v33.991v8.158c0.001,11.64,5.574,34.352,42.9,55.681
  c31.227,17.843,73.178,27.67,118.128,27.67c44.95,0,86.903-9.827,118.128-27.67c37.326-21.329,42.899-44.042,42.899-55.681v-8.158
  v-33.991C285.581,290.871,227.553,309.731,161.029,309.731z"/>
  <path d="M161.029,193.406C92.891,193.406,34.09,173.269,0,142.199v31.683v12.063c0.001,11.641,5.574,34.352,42.9,55.681
  c31.227,17.843,73.178,27.67,118.128,27.67s86.903-9.827,118.128-27.67c37.326-21.329,42.899-44.04,42.899-55.681v-12.063v-31.683
  C287.966,173.269,229.165,193.406,161.029,193.406z"/>
  <path d="M273.035,29.241C243.45,12.969,203.671,4.006,161.03,4.006c-42.643,0-82.421,8.961-112.008,25.235
  C23.627,43.208,9.064,61.158,9.064,78.491c0,17.331,14.564,35.282,39.957,49.25c29.587,16.272,69.365,25.235,112.008,25.235
  s82.421-8.961,112.007-25.235c25.394-13.967,39.957-31.917,39.957-49.25S298.428,43.208,273.035,29.241z"/>
</svg>
