<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import { Provider, type AWSS3Provider, type B2Provider, type LocalProvider, type MinioS3Provider } from '$utils/types';

  export let initialValues: {
    provider: Provider
    [Provider.LocalProvider]: LocalProvider
    [Provider.MinioS3Provider]: MinioS3Provider
    [Provider.B2Provider]: B2Provider
    [Provider.AWSS3Provider]: AWSS3Provider
  };

  const providers: Record<Provider, string[]> = {
    [Provider.LocalProvider]: ['repoPath'],
    [Provider.MinioS3Provider]: ['accessKeyID', 'secretAccessKey','bucketName', 'hostname', 'port', 'scheme', 'certificateAuthority'],
    [Provider.B2Provider]: ['accountID', 'accountKey', 'bucketName', 'repoName'],
    [Provider.AWSS3Provider]: ['accessKeyID', 'secretAccessKey', 'bucketName', 'defaultRegion'],
  }

  let provider = initialValues.provider || 'localProvider';
  let values = JSON.parse(JSON.stringify(initialValues));
  Object.keys(providers).forEach((backupProvider) => {
    values[backupProvider] = initialValues[backupProvider as Provider] || {};
  });

  const dispatch = createEventDispatcher();

  $: dispatch('update', { provider, [provider]: values[provider] });
</script>

<div class="my-2 flex gap-2 justify-between">
  {#each Object.keys(providers) as backupProvider}
    <button
      class="avatar"
      on:click|preventDefault|stopPropagation={() => (provider = backupProvider)}
    >
      <div class="h-10 w-10 rounded">
        <img
          class="{backupProvider === provider ? 'bg-yellow-500' : 'bg-black'} transition-colors"
          src="/ui/{backupProvider}.svg"
          alt={backupProvider}
        />
      </div>
    </button>
   
  {/each}
</div>
<p class="my-2">{provider.replace('Provider', '')}</p>
{#if provider}
  {#each providers[provider] ?? [] as input}
    <div class="form-control">
      <label for="password" class="label">
        <span class="label-text">{input}</span> 
      </label>
      <input 
        id={input}
        type="text"
        bind:value={values[provider][input]}
        class="input input-bordered w-full "
      />
    </div>
  {/each}
{/if}
